{
    "{apps,libs}/**/*.{less}": [
        "prettier --write"
    ],
    "{apps,libs}/**/*.{ts,js}": [
        "npx eslint --fix"
    ],
    "{apps,libs}/**/*.{template.html}": [
        "prettier --write"
    ]
}
